<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjNpGU84PfBOvAls36EZMpncen8N-1078</string>
	<key>GCM_SENDER_ID</key>
	<string>401918120039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hapeye.xstores</string>
	<key>PROJECT_ID</key>
	<string>xstore-faa86</string>
	<key>STORAGE_BUCKET</key>
	<string>xstore-faa86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401918120039:ios:e061d0fed5c8d71aa584c2</string>
</dict>
</plist>